@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to My Test Website</h1>
    <p class="lead">Im just checking if this works.</p>
    <hr />
    <p>

        Why don't skeletons fight each other?

        They don't have the guts!
    </p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Doesn't do anything</a>
</div>
